.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #128c7e;
}

.app__body {
  display: flex;
  background-color: #d3d3d3;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}