.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}